@import './style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #022c22; /* text-green-950 */
}

:root{
    --color1-green: #025239;
    --color2-yellow: #e1612b;
}


.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    transition: 0.4s;
}